<div class="mt-5">
  <div class="my-2">
    <a href='/admin/tweets'>Tweets</a> |
    <a href='/admin/users'>Users</a>
  </div>
  <table data-toggle="table" data-search="true" data-show-columns="true">
    <thead>
      <tr>
        <th class="text-center">User</th>
        <th class="text-center">Tweet</th>
        <th class="text-center">Time</th>
        <th class="text-center">Detail</th>
        <th class="text-center">Delete</th>
      </tr>
    </thead>
    <tbody>
      {{#each tweets}}
        <tr>
          <td>
            <a href="/users/{{User.id}}/tweets">
              <img src="{{User.avatar}}" class="img-fluid rounded mx-auto d-block" alt="avatar" style="width: 50px">
            </a>
          </td>
          <td>{{shortenDescript}}
          <td>{{date}} {{time}}</td>
          <td>
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-outline-secondary" data-toggle="modal"
              data-target="#ModalScrollable{{this.id}}">
              <i class="far fa-comment-alt"></i>
            </button>
          </td>
          </td>
        </tr>
        <!-- Modal -->
        <div class="modal fade" id="ModalScrollable{{this.id}}" tabindex="-1" role="dialog"
          aria-labelledby="ModalScrollable{{this.id}}Title" aria-hidden="true">
          <div class="modal-dialog modal-dialog-scrollable" role="document">
            <div class="modal-content">
              <div class="modal-header d-flex align-items-center">
                <a href="/users/{{User.id}}/tweets">
                  <img src="{{User.avatar}}" class="img-fluid rounded mx-auto d-block" alt="avatar" style="width: 50px">
                </a>
                <h5 class="ml-2">{{User.name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5 class="modal-title ml-3" id="ModalScrollable{{this.id}}Title">{{description}}</h5>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      {{/each}}
    </tbody>
  </table>
</div>