<div class="row my-5">
  <aside class="col-5 col-md-3">
    {{> userProfile}}
  </aside>
  {{!-- followings --}}
  <main class="col-7 col-md-9">
    <h3>Following</h3>
    <div class="row">
      {{#each followings}}
        <article class="col-12 col-md-6 mb-4">
          <div class="card h-100">
            <div class="row no-gutters h-100">
              <div class="col-md-4">
                <img src="{{avatar}}" class="card-img" alt="avatar">
              </div>
              <div class="col-md-8">
                <div class="card-body h-100 d-flex flex-column">
                  <h5 class="card-title">
                    <a href="/users/{{id}}/tweets">@{{name}}</a>
                  </h5>
                  <p class="card-text intro">{{introduction}}</p>
                  <div class="mt-auto">
                    <form action="/followships/{{id}}?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-primary">Following</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>
      {{/each}}
    </div>
  </main>
</div>
<br>
<br>